.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container-masini {
  flex-basis: 50;
  width: 100%;
  height: 100%;
}
.container-masini  img{
  position: fixed;
  height: 400px;
  border-radius: 50%;
}
.container-testo{
  width: 100%;
  height: 100%;
  flex-basis: 50;
}
